* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'times';

  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400; /* 일반체 */
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 600; /* 볼드체 */
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Black.woff') format('woff');
  font-weight: 700; /* 볼드체 */
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Black.ttf');
}

@font-face {
  font-family: 'NanumSquareB';
  src: url('/fonts/NanumSquareB.ttf');
}

@font-face {
  font-family: 'times';
  src: url('/fonts/times.ttf');
}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('/fonts/Cafe24Ssurround-v2.0.woff');
}

@font-face {
  font-family: 'AppleSDGothicNeoM00';
  src: url('/fonts/AppleSDGothicNeoM00.ttf');
}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Add a background color to the chat screen */

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: white; /* 어두운 회색 */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.logo-container {
  width: 100%;
  text-align: center;
}

.codingnexus {
  color: #fff;
  margin-top: 15px;
  font-size: 12px;
}
.codingnexus a {
  color: #000;
  text-decoration: none;
}

#loading {
  font-size: 50px;
}

/* Swal2 default padding delete */
.swal2-container {
  padding: 0 !important;
}

/* button,
a,
div {
  -webkit-tap-highlight-color: transparent;
} */

/** :: React Scroll Animation CSS :: **/

@keyframes scroll-animation-top-sm {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes scroll-animation-top-md {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes scroll-animation-top-lg {
  from {
    opacity: 0;
    transform: translateY(-120px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes scroll-animation-top-xl {
  from {
    opacity: 0;
    transform: translateY(-160px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes scroll-animation-bottom-sm {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes scroll-animation-bottom-md {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes scroll-animation-bottom-lg {
  from {
    opacity: 0;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes scroll-animation-bottom-xl {
  from {
    opacity: 0;
    transform: translateY(160px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes scroll-animation-left-sm {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes scroll-animation-left-md {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes scroll-animation-left-lg {
  from {
    opacity: 0;
    transform: translateX(-120px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes scroll-animation-left-xl {
  from {
    opacity: 0;
    transform: translateX(-160px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes scroll-animation-right-sm {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes scroll-animation-right-md {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes scroll-animation-right-lg {
  from {
    opacity: 0;
    transform: translateX(120px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes scroll-animation-right-xl {
  from {
    opacity: 0;
    transform: translateX(160px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
